html
{
  margin: 0px;
}

body
{
	margin: 0px;
}

canvas
{
  display: block;
}

a
{
  text-decoration: none;
}

a:link, a:visited
{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.avatar
{
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	background-image: url(../images/me.png);
}

@font-face
{
	font-family: 'miso-bold';
    src: url('../fonts/miso-bold.eot');
    src: url('../fonts/miso-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/miso-bold.woff') format('woff'),
         url('../fonts/miso-bold.ttf') format('truetype'),
         url('../fonts/miso-bold.svg#miso-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

footer
{
	position: relative;
	width: 100%;
	background-color: #505050;
}

#footer-container
{
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: #505050;
}

.footer-column
{
	position: relative;
	width: 360px;
	margin-right: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: left;
}

.footer-column-last
{
	margin-right: 0px;
}

.footer-socialMedia
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-mobile
{
  display: none;
  position: relative;
  width: 325px;
  margin-left: 35px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-mobile .title
{
  text-align: center;
}

.footer-main
{

}

header
{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #505050;
}

#header-container
{
	position: relative;
	width: 1200px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #505050;
}

.icon
{
	position: relative;
	width: 44px;
	height: 44px;
	margin-right: 8px;
	display: inline-block;
}

.icon-last
{
	margin-right: 0px;
}

#icons-container-right
{
	position: relative;
	top: 8px;
	float: right;
}

.title
{
	position: relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}

#title-name
{
	top: 12px;
	float: left;
}

.icon-email
{
	background-image: url(../images/icon-email.png);
}

.icon-facebook
{
	background-image: url(../images/icon-facebook.png);
}

.icon-reddit
{
	background-image: url(../images/icon-reddit.png);
}

.icon-linkedin
{
	background-image: url(../images/icon-linkedin.png);
}

.icon-tableau
{
	background-image: url(../images/icon-tableau.png);
}

.icon-wordpress
{
	background-image: url(../images/icon-wordpress.png);
}

.icon-researchgate
{
	background-image: url(../images/icon-researchgate.png);
}

.icon-github
{
	background-image: url(../images/icon-github.png);
}

img
{
	border-style: none;
}

.portfolio
{
	position: relative;
  height: 700px
	width: 100%;
}

#portfolio-1
{
	background-color: #eaf0e0;
  background-image: url(../images/Section_Image-Resume.png);
}

#portfolio-2
{
	background-color: #eaf0e0;
  background-image: url(../images/Section_Image-Projects.png);

}

#portfolio-3
{
  background-color: #eaf0e0;
  background-image: url(../images/DataViz-Section-Image.png);
}

.portfolio-container
{
	position: relative;
	width: 100%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-text-body
{
	position: relative;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 26px;
  -webkit-text-stroke: 1px #000000;
}

.portfolio-text-button
{
	position: relative;
	display: inline-block;
	padding: 12px;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
	border-color: #000000;
	font-family: Arial;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.portfolio-text-container
{
	position: absolute;
	width: 360px;
	top: 50%;
	transform: translateY(-50%);
}

.portfolio-text-container-left
{
	left: 0px;
}

.portfolio-text-container-right
{
	right: 0px;
}

.portfolio-text-title
{
	position: relative;
	font-family: miso-bold;
	color: #000000;
	font-size: 70px;
	line-height: 56px;
	margin-bottom: 18px;
  -webkit-text-stroke: 1px white;
}

.text
{
	position: relative;
	font-family: Arial;
	font-size: 20px;
	color: #cccccc;
	line-height: 26px;
	margin-bottom: 24px;
}

.text a
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

@media (max-width:2000px ) {
  #header-container
  {
  	width: 1200px;
  }
  .footer-main
  {
    display: inline;
  }
  .footer-mobile
  {
    display: none;
  }
}

@media (max-width:1200px ) {
  #header-container
  {
  	width: 900px;
  }
  .footer-main
  {
    display: initial;
  }
  .footer-mobile
  {
    display: none;
  }
}

@media (max-width:900px ) {
  #header-container
  {
  	width: 600px;
  }
  #footer-container
  {
    width: 600px;
  }
  .portfolio-text-container-right
  {
  	left: 0px;
  }
  .footer-mobile
  {
    display: inline;
  }
  .footer-main
  {
    display: none;
  }
}

@media (max-width:600px ) {
  #header-container
  {
  	width: 325px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #footer-container
  {
    width: 325px;
  }
  .portfolio-text-container-right
  {
    left: 0px;
  }
  header .icon
  {
    margin-right: 0px;
  }
  header .icon-facebook
  {
    display: none;
  }
  header .icon-tableau
  {
    display: none;
  }
  header .icon-reddit
  {
    display: none;
  }
  .footer-mobile
  {
    display: inline;
  }
  .footer-main
  {
    display: none;
  }
}
